{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Export du listing mensuel des factures en CSV{% endblock %}

{% block content_header %}
	<h1 class="title">Export du listing mensuel des factures en CSV</h1>
{% endblock content_header %}

{% block main %}
	<p></p>
	{% block entity_form %}
        {{ form_start(form) }}
        <div class="form-horizontal">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Sélectionnez le mois pour l'export du listing CSV : </h3>
				</div>
				<div class="box-body">
					<table class="table table-striped table-bordered">
						<tr>
							<th>Mois</th>
						</tr>
						<tr>
							<td>{{ form_row(form.month) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		 <div class="col-xs-12 form-actions">
            <div class="form-group">
                <div id="form-actions-row">
                	{{ form_row(form.export) }}
                </div>
            </div>
        </div>
		{{ form_end(form) }}
    {% endblock entity_form %}
{% endblock %}
