{% if field_options.format %}
    {% set type_id = field_options.format|format(value) %}
{% else %}
    {% set type_id = value|number_format %}
{% endif %}

<span class="label {% if type_id == 1 %}label-success{% else %}label-warning{% endif %}">{{ field_options.statut[type_id] }}</span>