easy_admin:
    entities:
        ArticleFormone:
            class: App\Entity\ArticleFormone
            controller: App\Controller\ArticleFormoneController
            #disabled_actions: ['delete']
            form:
                title: "Ajouter une Form One"
                fields:
                    - { type: 'group', css_class: 'col-sm-12', label: '', background: 'box-primary' }
                    - { property: 'from_tracking', label: 'From tracking', css_class: 'col-sm-6'}
                    - { property: 'quantite', label: "Quantité", type_options: { attr: {min: '0' }}, css_class: 'col-sm-6'}
                    - { property: 'sn', label: 'Sn', css_class: 'col-sm-6'}
                    - { property: 'formoneFile', label: 'Form one', type: 'vich_file', type_options: {allow_delete: false}, css_class: 'col-sm-6'}
                    - { type: 'section', label: '' }
                    - { property: 'montant_fdp_ht', label: "Frais de port HT par quantité", css_class: 'col-sm-3'}
                    - { property: 'montant_fdc_ht', label: "Frais de certification HT par quantité", css_class: 'col-sm-3'}
            edit:
                title: "Modifier une Form One"
